body{
	font-family: 'Courier New';
}
p{
	margin-top:10px;
	margin-bottom: 10px;
}
.container{
	width: 1170px;
	font-size: 20px;
	margin: auto;
	padding-top: 100px
}
.name{
	font-size: 35px;
}
.bigTitle{
	margin-bottom: 50px;
}
.link{
	text-decoration: none;
}